@import url('https://fonts.googleapis.com/css2?family=Single+Day&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&display=swap');

.form_container {
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
}


.form_right_container {
  flex: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50vw;
  height: 100vh;
}

.form_left_container {
  position: relative;
  width: 50vw;
  height: 100vh;
  flex: 50%;
}

@media (max-width: 800px) {

  .form_left_container,
  .form_right_container {
    flex: 100%;
  }
}


.formImage {
  display: block;
  width: 50vw;
  height: 100vh;
}



.textBox {
  margin: 0%;
  position: absolute;
  left: 3.87rem;
  top: 33.31rem;
  bottom: 7.62rem;
  right: 7.5rem;
  width: 43.4375rem;
  height: 8.9375rem;
}

.text {
  color: #FFF;
  font-family: 'Roboto', sans-serif;
  font-size: 3.4375rem;
  font-style: normal;
  font-weight: 900;
  line-height: 141.688%;
  letter-spacing: 0.06875rem;
}

.heading {
  color: #72DB73;
  margin: 2rem 0% 0% 0%;
  font-family: 'Single Day', cursive;
  /* margin: 0% 0% 0% 0%; */
  padding: 0%;
  font-size: 3.1875rem;
  font-style: normal;
  font-weight: 400;
  /* line-height: 139.688%; */
}

.create {
  margin: 0%;
  padding: 0%;
  color: #FFF;
  font-family: 'DM Sans', sans-serif;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  /* line-height: 139.688%; */
}



.registration_data {
  display: flex;
  flex-direction: row;
  margin-top: 2px;
}

.checkBox {
  width: 1.125rem;
  height: 1.125rem;
  flex-shrink: 0;
  background: #D9D9D9;
}

.share {
  margin: 0%;
  padding-left: 5px;
  width: 27.0625rem;
  /* height: 1.1875rem; */
  flex-shrink: 0;
  color: #7C7C7C;
  font-family: 'DM Sans', sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  /* line-height: 139.688%; */
  letter-spacing: 0.02506rem;
}

.sign_up {
  width: 28.375rem;
  height: 3.4375rem;
  flex-shrink: 0;
  border-radius: 1.75rem;
  background: #72DB73;
  color: #FFF;
  font-family: 'Roboto', sans-serif;
  font-size: 1.8125rem;
  font-style: normal;
  font-weight: 600;
  /* line-height: 108.688%; */
  /* 1.96994rem */
  letter-spacing: 0.03625rem;
}

.tc,
.pp {
  margin: 0%;
  padding-left: 1rem;
  width: 28.375rem;
  height: 2.3125rem;
  flex-shrink: 0;
  color: #7C7C7C;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-style: normal;
  line-height: 141.7%;
  /* 1.59413rem */
  font-weight: 500;
  letter-spacing: 0.0225rem;
}

.name {
  border: 1px solid #292929;
  margin-top: 1.5rem;
  border-radius: 4px;
  box-sizing: border-box;
  width: 28.375rem;
  height: 3.25rem;
  flex-shrink: 0;
  background: #292929;
  color: #7C7C7C;
  font-family: 'DM Sans', sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.02506rem;
  padding-left: 1.25rem;
}

.required {
  color: #F00;
  margin: 0%;
  font-family: 'DM Sans', sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.02506rem;
}

.category_container {
  display: flex;
  flex-direction: row;
}

.left {
  display: flex;
  flex-direction: column;
  width: 40vw;
  height: 100vh;
  padding-left: 6em;
  flex-direction: column;
  /* justify-content: center; */
}

.right {
  display: flex;
  width: 60vw;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.heading_cat {
  color: #72DB73;
  /* margin: 0% 0% 0% 0%; */
  margin-bottom: 0%;
  font-family: 'Single Day', cursive;
  padding-top: 2rem;
  font-size: 4.1875rem;
  font-style: normal;
  font-weight: 700;
}

.choose {
  margin-top: 3rem;
  padding: 0%;
  width: 34.625rem;
  height: auto;
  flex-shrink: 0;
  color: #FFF;
  font-family: 'Roboto', sans-serif;
  font-size: 3.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 139.688%;
}

.container-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-items: center;
  align-items: center;
}


.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  width: 8.625rem;
  height: 8.6875rem;
  flex-shrink: 0;
  border-radius: 1rem;
}

.container p {
  color: #FFF;
  font-family: 'DM Sans', sans-serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-align: left;
  margin: 0%;
}


.container img {
  max-width: 100%;
  height: auto;
}

.highlighted {
  border-radius: 1.25rem;
  border: 6px solid #11B800;
}

.selected-label {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 12.0625rem;
  height: 3.25rem;
  flex-shrink: 0;
  border-radius: 1.9375rem;
  background: #148A08;
}

.label {
  color: #FFF;
  font-family: 'Roboto', sans-serif;
  font-size: 1.57144rem;
  font-style: normal;
  font-weight: 400;
  line-height: 105.688%;
  /* 1.66081rem */
  letter-spacing: 0.03144rem;
}

.cross {
  width: 1.05806rem;
  height: 1.41069rem;
  flex-shrink: 0;
  color: #085C00;
  font-family: 'Roboto', sans-serif;
  font-size: 1.64581rem;
  font-style: normal;
  font-weight: 400;
  line-height: 105.688%;
  letter-spacing: 0.03294rem;
}

@media (min-width: 768px) {
  .selected-labels {
    display: grid;
    grid-template-columns: repeat(2, 0.1fr);
    gap: 10px;
  }

  .selected-label {
    margin: 0;
  }
}

.nextPage{
  width: 12.0625rem;
  height: 3.25rem;
  border-radius: 1.9375rem;
  background: #148A08;
  color: #FFF;
  font-family: 'Roboto', sans-serif;
  font-size: 1.57144rem;
  font-style: normal;
  font-weight: 400;
  line-height: 105.688%;
  letter-spacing: 0.03144rem;
  border: 1px solid #148A08;
  align-self: flex-end;
  margin-top: 2rem;
  margin-right : 4rem;
}
.warning-icon{
width: 1.07156rem;
height: 0.8125rem;
flex-shrink: 0;
padding-right: 5px;
}
